.message-list li{
	background-color: #fff;
	margin: 10px 0;
	padding: 15px 20px;
}
.message-list li div{
	float: left;
}
.message-list li .item-img{
	width: 20%;
}
.message-list li .item-img img{
	width: 100%;
}
.message-list li .item-detail{
	width: 70%;
	padding-left: 15px;
}
.message-list li .item-detail p{
	font-size: 14px;
	overflow : hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp:2;
    -webkit-box-orient: vertical;
    color: #555
}
.message-list li .item-detail span{
	font-size: 13px;
	float: right;
	margin-top: 5px;
	color: #aaa
}

